{% block content %}
  <style>

    body {
      font-family: 'Arial', sans-serif;
      color: #fff;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .login-container {
      width: 300px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.7);
      text-align: center;
    }

    .login-form {
      display: flex;
      flex-direction: column;
    }

    .login-form label {
      margin-bottom: 8px;
      font-size: 16px;
    }

    .login-form input {
      padding: 12px;
      margin-bottom: 16px;
      border: 1px solid #3498db;
      border-radius: 6px;
      font-size: 16px;
      color: #555;
    }

    .login-form button {
      padding: 14px;
      background: linear-gradient(to bottom, #2ecc71, #27ae60);
      color: #fff;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 18px;
      transition: background-color 0.3s ease-in-out;
    }

    .login-form button:hover {
      background: linear-gradient(to bottom, #219c5f, #1e8449);
    }

    .login-form button:active {
      background: linear-gradient(to bottom, #1a764b, #16603f);
    }

    h2 {
      color: #fff;
    }
  </style>

  <div class="login-container">
    <h2>Login</h2>
    <form class="login-form" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <label for="{{ form.username.id_for_label }}">Username:</label>
      {{ form.username }}
      <label for="{{ form.password.id_for_label }}">Password:</label>
      {{ form.password }}
      <button type="submit">Login</button>
    </form>
  </div>

  {% if user.is_authenticated %}
    {% if user.customuser.role == 'patient' %}
      
        
        <a href="{% url 'dashboard' %}">Login</a>
      
    {% elif user.customuser.role == 'staff' %}
      
        
        <a href="{% url 'clinic_selection' %}">Login</a>
     
    {% endif %}
  {% endif %}

{% endblock %}
