<style>
    body {
      font-family: 'Arial', sans-serif;
      color: #fff;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background: linear-gradient(to bottom, #3498db, #2980b9);
    }

    h2 {
      color: #fff;
    }

    form {
      width: 300px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.7);
      text-align: center;
      margin-top: 20px;
    }

    form label {
      margin-bottom: 8px;
      font-size: 16px;
    }

    form input, form select {
      padding: 12px;
      margin-bottom: 16px;
      border: 1px solid #3498db;
      border-radius: 6px;
      font-size: 16px;
      color: #555;
    }

    form button {
      padding: 14px;
      background: linear-gradient(to bottom, #2ecc71, #27ae60);
      color: #fff;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 18px;
      transition: background-color 0.3s ease-in-out;
    }

    form button:hover {
      background: linear-gradient(to bottom, #219c5f, #1e8449);
    }

    form button:active {
      background: linear-gradient(to bottom, #1a764b, #16603f);
    }
</style>

<!-- <h2>Sign Up</h2> -->
<form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.username.label_tag }}{{ form.username }}
    {{ form.first_name.label_tag }}{{ form.first_name }}
    {{ form.last_name.label_tag }}{{ form.last_name }}
    {{ form.email.label_tag }}{{ form.email }}
    {{ form.password1.label_tag }}{{ form.password1 }}
    {{ form.password2.label_tag }}{{ form.password2 }}
    {{ roles.role.label_tag }}{{ roles.role }}
    <!-- <button type="submit">Sign Up</button> -->
    <a href="{% url 'login' %}">Sign Up</a>
</form>
